
<!DOCTYPE html>
<html>
  <head>
    <title>BetterHelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <script type="text/javascript">
    window.cafe =  "<%= image_url('cafe.jpg') %>"
    window.homeServices =  "<%= image_url('home-services.jpg') %>"
    window.restaurant =  "<%= image_url('restaurant.jpg') %>"
    window.codingBootcamp =  "<%= image_url('coding-bootcamp.jpg') %>"
    window.cafe =  "<%= image_url('cafe.jpg') %>"
    window.betterHelpSplash = "<%= image_url('better_help_splash_thicc.jpg') %>"
    window.splashBackground = "<%= image_url(generate_random_pic) %>"
    window.handsUrl = "<%= image_url('logo.jpg') %>";
    window.formType = "<%= image_url('formtype.jpg') %>";
    window.footerCityscape =" <%= image_url('footer_cityscape.jpg')  %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
