<!DOCTYPE html>
<html>
  <head>
    <title>BetterHelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type="text/javascript">
    window.handsUrl = "<%= image_url('logo.jpg') %>";
    window.formType = "<%= image_url('formtype.jpg') %>";
    window.footerCityscape =" <%= image_url('footer_cityscape.jpg')  %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
