
<!DOCTYPE html>
<html>
  <head>
    <title>BetterHelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCeLxEq2Ga-eCm60KrJT68p_EtjMEvkERc" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  </head>


  <script type="text/javascript">
    window.profPic = "<%= image_url('prof-pic.jpg') %>"
    window.tidy = "<%= image_url('tidy.jpg') %>"
    window.edit = "<%= image_url('edit1.jpg')  %>"
    window.trashBin = "<%= image_url('trashbin.jpg')  %>"
    window.cafe =  "<%= image_url('cafe.jpg') %>"
    window.homeServices =  "<%= image_url('home-services.jpg') %>"
    window.restaurant =  "<%= image_url('restaurant.jpg') %>"
    window.codingBootcamp =  "<%= image_url('coding-bootcamp.jpg') %>"
    window.betterHelpSplash = "<%= image_url('better_help_splash_thicc.jpg') %>"
    window.splashBackground = "<%= image_url(generate_random_pic) %>"
    window.handsUrl = "<%= image_url('logo.jpg') %>";
    window.formType = "<%= image_url('formtype.jpg') %>";
    window.footerCityscape =" <%= image_url('footer_cityscape.jpg')  %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
